<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Home</title>
</head>
<body style="background-color:powderblue;">
<button type="button" class="btn btn-secondary"><a th:href="@{/logout}" style="text-decoration: none; color: #000">Logout</a></button>

<div align="center">
    <h1>Cosmic dashboard of planets</h1>
    <button type="button" class="btn btn-success"><a href="new" style="text-decoration: none;color: #fff">Create New Planet</a></button>
    <br/><br/>

    <form th:action="@{/listProducts}" method="get">
        <input id="txtSearch" type="text" placeholder="Search" name="keyword">
        <button type="submit">GO</button>
    </form>
    <br><br/>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type of planet</th>
                <th>Galaxy</th>
                <th>Density</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
            	<td th:text="${product.id}">ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.type}">Type of planet</td>
                <td th:text="${product.galaxy}">Galaxy</td>
                <td th:text="${product.density}">Density</td>
                <td>
                    <button type="button" class="btn btn-warning"><a  th:href="@{'/edit/' + ${product.id}}" style="color: #fff;text-decoration: none">Edit</a></button>
                	&nbsp;&nbsp;&nbsp;
                	<button type="button" class="btn btn-danger"><a th:href="@{'/delete/' + ${product.id}}" style="color: #fff;text-decoration: none">Delete</a></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>
